<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470047789950-7dmp5fhjehvejr4iek01qvsndhjdjl2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470047789950-7dmp5fhjehvejr4iek01qvsndhjdjl2b</string>
	<key>API_KEY</key>
	<string>AIzaSyDR8q59pPXi89x_crwN9eEWAGGvJcYa0ho</string>
	<key>GCM_SENDER_ID</key>
	<string>470047789950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ElsaHealth.elsa</string>
	<key>PROJECT_ID</key>
	<string>elsahealth-45ad4</string>
	<key>STORAGE_BUCKET</key>
	<string>elsahealth-45ad4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470047789950:ios:0ecc4d7d9bda13b97c992f</string>
</dict>
</plist>